In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv(r"C:\Users\serge\OneDrive\Documents\Erdos\2024 Project Data Science\input_test_4AhEauI.csv")

In [4]:
data.head()

,ID,dt_close,product_id,liquidity_rank,normal_trading_day,dt_expiry,open,high,low,close,open_interest,volume,tick_size,fixed
0,1977,8868,102103552,0,1,8879,9299.0,9461.0,9087.000,9407.0,2844,3033,11,0
1,1978,8868,102103552,1,1,8901,9279.0,9442.0,9075.999,9391.0,2344,844,11,0
2,1979,8868,102103552,2,1,8924,9196.0,9420.0,9068.000,9374.0,757,358,11,0
3,1980,8868,102103552,3,1,8946,9174.0,9391.0,9050.000,9359.0,655,293,11,0
4,1981,8868,102103552,4,1,8966,9153.0,9372.0,9042.000,9346.0,314,138,11,0

In [5]:
data

,ID,dt_close,product_id,liquidity_rank,normal_trading_day,dt_expiry,open,high,low,close,open_interest,volume,tick_size,fixed
0,1977,8868,102103552,0,1,8879,9299.0,9461.0,9087.000,9407.0,2844,3033,11,0
1,1978,8868,102103552,1,1,8901,9279.0,9442.0,9075.999,9391.0,2344,844,11,0
2,1979,8868,102103552,2,1,8924,9196.0,9420.0,9068.000,9374.0,757,358,11,0
3,1980,8868,102103552,3,1,8946,9174.0,9391.0,9050.000,9359.0,655,293,11,0
4,1981,8868,102103552,4,1,8966,9153.0,9372.0,9042.000,9346.0,314,138,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230299,858592,11448,198575104,2,1,11635,19860.0,19860.0,19851.000,19852.0,761,116,10,0
230300,858593,11448,198575104,3,1,11705,19820.0,19820.0,19808.000,19809.0,782,135,10,0
230301,858594,11448,198575104,4,1,11770,19781.0,19781.0,19765.000,19767.0,696,159,10,0
230302,858595,11448,198575104,5,1,11830,19741.0,19741.0,19726.000,19727.0,565,108,10,0
230303,858596,11448,198575104,6,1,11900,19716.0,19716.0,19699.000,19699.0,307,53,10,0

In [8]:
import yfinance as yf

In [7]:
pip install yfinance

Collecting yfinanceNote: you may need to restart the kernel to use updated packages.

  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/d5/b5/70bb98ee38ce532ee29fab76fb668382291fe6e1aa69a8c1ac7e6bc108e7/yfinance-0.2.38-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.38-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas>=1.3.0 in c:\users\serge\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\serge\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\serge\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Obtaining dependency information for multitasking>=0.0.7 from https://files.pythonhosted.org/packages/3e/8a/bb3160e76e844db9e69a413f055818969c8acade64e1a9ac5ce9dfdcf6c1/multitasking-0.0.11-py3-none-any.whl.metadata
  Downloading multitasking-0.0.11-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: lxml>=4.9.1 in c:\users\serge\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\serge\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\serge\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.4.4.tar.gz (315 kB)
     ---------------------------------------- 0.0/315.9 kB ? eta -:--:--
     ---- -------------------------------- 41.0/315.9 kB 991.0 kB/s eta 0:00:01
     ---------------------------------- --- 286.7/315.9 kB 3.5 MB/s eta 0:00:01
     -------------------------------------- 315.9/315.9 kB 2.8 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.5.tar.gz (3.0 MB)
     ---------------------------------------- 0.0/3.0 MB ? eta -:--:--
     --------- ------------------------------ 0.7/3.0 MB 23.5 MB/s eta 0:00:01
     ----------------------- ---------------- 1.7/3.0 MB 21.8 MB/s eta 0:00:01
     ---------------------------------------  2.9/3.0 MB 23.5 MB/s eta 0:00:01
     ---------------------------------------- 3.0/3.0 MB 20.9 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\serge\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Obtaining dependency information for html5lib>=1.1 from https://files.pythonhosted.org/packages/6c/dd/a834df6482147d48e225a49515aabc28974ad5a4ca3215c18a882565b028/html5lib-1.1-py2.py3-none-any.whl.metadata
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: soupsieve>1.2 in c:\users\serge\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\serge\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\serge\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\serge\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\serge\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\serge\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\serge\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\serge\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\serge\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.11.17)
Downloading yfinance-0.2.38-py2.py3-none-any.whl (72 kB)
   ---------------------------------------- 0.0/73.0 kB ? eta -:--:--
   ---------------------------------------- 73.0/73.0 kB ? eta 0:00:00
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
   ---------------------------------------- 0.0/112.2 kB ? eta -:--:--
   ---------------------------------------- 112.2/112.2 kB ? eta 0:00:00
Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Building wheels for collected packages: frozendict, peewee
  Building wheel for frozendict (pyproject.toml): started
  Building wheel for frozendict (pyproject.toml): finished with status 'done'
  Created wheel for frozendict: filename=frozendict-2.4.4-cp311-cp311-win_amd64.whl size=16070 sha256=f01936f59d9d73344ef12edc51cf8363883635fd3d1fca4832877ead003f3e14
  Stored in directory: c:\users\serge\appdata\local\pip\cache\wheels\ca\d4\6d\5662aad9c5f7e28a7f890b948436a074a503c90d3564a824a6
  Building wheel for peewee (pyproject.toml): started
  Building wheel for peewee (pyproject.toml): finished with status 'done'
  Created wheel for peewee: filename=peewee-3.17.5-py3-none-any.whl size=138681 sha256=d9195bd8ea4c7bfbae5626dd867696e03bbc886171a3a32e35b01311c8e38969
  Stored in directory: c:\users\serge\appdata\local\pip\cache\wheels\d2\cb\9c\c300d7bf782e07f1658c306743d5e30af7e4834001e4064a96
Successfully built frozendict peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.4.4 html5lib-1.1 multitasking-0.0.11 peewee-3.17.5 yfinance-0.2.38

In [9]:
appl = yf.Ticker('AAPL')
appl.info

{'address1': 'One Apple Park Way',
 'city': 'Cupertino',
 'state': 'CA',
 'zip': '95014',
 'country': 'United States',
 'phone': '408 996 1010',
 'website': 'https://www.apple.com',
 'industry': 'Consumer Electronics',
 'industryKey': 'consumer-electronics',
 'industryDisp': 'Consumer Electronics',
 'sector': 'Technology',
 'sectorKey': 'technology',
 'sectorDisp': 'Technology',
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, and HomePod. It also provides AppleCare support and cloud services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Fitness+, a personalized fitness service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1976 and is headquartered in Cupertino, California.',
 'fullTimeEmployees': 150000,
 'companyOfficers': [{'maxAge': 1,
   'name': 'Mr. Timothy D. Cook',
   'age': 62,
   'title': 'CEO & Director',
   'yearBorn': 1961,
   'fiscalYear': 2023,
   'totalPay': 16239562,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Luca  Maestri',
   'age': 60,
   'title': 'CFO & Senior VP',
   'yearBorn': 1963,
   'fiscalYear': 2023,
   'totalPay': 4612242,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Jeffrey E. Williams',
   'age': 59,
   'title': 'Chief Operating Officer',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4637585,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Ms. Katherine L. Adams',
   'age': 59,
   'title': 'Senior VP, General Counsel & Secretary',
   'yearBorn': 1964,
   'fiscalYear': 2023,
   'totalPay': 4618064,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': "Ms. Deirdre  O'Brien",
   'age': 56,
   'title': 'Senior Vice President of Retail',
   'yearBorn': 1967,
   'fiscalYear': 2023,
   'totalPay': 4613369,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Chris  Kondo',
   'title': 'Senior Director of Corporate Accounting',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. James  Wilson',
   'title': 'Chief Technology Officer',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Suhasini  Chandramouli',
   'title': 'Director of Investor Relations',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Greg  Joswiak',
   'title': 'Senior Vice President of Worldwide Marketing',
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0},
  {'maxAge': 1,
   'name': 'Mr. Adrian  Perica',
   'age': 49,
   'title': 'Head of Corporate Development',
   'yearBorn': 1974,
   'fiscalYear': 2023,
   'exercisedValue': 0,
   'unexercisedValue': 0}],
 'auditRisk': 6,
 'boardRisk': 1,
 'compensationRisk': 2,
 'shareHolderRightsRisk': 1,
 'overallRisk': 1,
 'governanceEpochDate': 1714521600,
 'compensationAsOfEpochDate': 1703980800,
 'irWebsite': 'http://investor.apple.com/',
 'maxAge': 86400,
 'priceHint': 2,
 'previousClose': 189.72,
 'open': 190.516,
 'dayLow': 189.6601,
 'dayHigh': 191.095,
 'regularMarketPreviousClose': 189.72,
 'regularMarketOpen': 190.516,
 'regularMarketDayLow': 189.6601,
 'regularMarketDayHigh': 191.095,
 'dividendRate': 1.0,
 'dividendYield': 0.0053,
 'exDividendDate': 1715299200,
 'payoutRatio': 0.14930001,
 'fiveYearAvgDividendYield': 0.73,
 'beta': 1.264,
 'trailingPE': 29.551323,
 'forwardPE': 26.281466,
 'volume': 40744688,
 'regularMarketVolume': 40744688,
 'averageVolume': 64839695,
 'averageVolume10days': 75290850,
 'averageDailyVolume10Day': 75290850,
 'bid': 189.78,
 'ask': 190.24,
 'bidSize': 100,
 'askSize': 100,
 'marketCap': 2913709064192,
 'fiftyTwoWeekLow': 164.08,
 'fiftyTwoWeekHigh': 199.62,
 'priceToSalesTrailing12Months': 7.6350455,
 'fiftyDayAverage': 173.2792,
 'twoHundredDayAverage': 180.81944,
 'trailingAnnualDividendRate': 0.96,
 'trailingAnnualDividendYield': 0.0050600884,
 'currency': 'USD',
 'enterpriseValue': 2946622029824,
 'profitMargins': 0.26306,
 'floatShares': 15306787334,
 'sharesOutstanding': 15334099968,
 'sharesShort': 94308265,
 'sharesShortPriorMonth': 108782648,
 'sharesShortPreviousMonthDate': 1711584000,
 'dateShortInterest': 1714435200,
 'sharesPercentSharesOut': 0.0062,
 'heldPercentInsiders': 0.052199997,
 'heldPercentInstitutions': 0.57545,
 'shortRatio': 1.66,
 'shortPercentOfFloat': 0.0062,
 'impliedSharesOutstanding': 15467299840,
 'bookValue': 4.837,
 'priceToBook': 39.28365,
 'lastFiscalYearEnd': 1696032000,
 'nextFiscalYearEnd': 1727654400,
 'mostRecentQuarter': 1711756800,
 'earningsQuarterlyGrowth': -0.022,
 'netIncomeToCommon': 100389003264,
 'trailingEps': 6.43,
 'forwardEps': 7.23,
 'pegRatio': 2.62,
 'lastSplitFactor': '4:1',
 'lastSplitDate': 1598832000,
 'enterpriseToRevenue': 7.721,
 'enterpriseToEbitda': 22.731,
 '52WeekChange': 0.08380461,
 'SandP52WeekChange': 0.2644323,
 'lastDividendValue': 0.25,
 'lastDividendDate': 1715299200,
 'exchange': 'NMS',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'underlyingSymbol': 'AAPL',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'firstTradeDateEpochUtc': 345479400,
 'timeZoneFullName': 'America/New_York',
 'timeZoneShortName': 'EDT',
 'uuid': '8b10e4ae-9eeb-3684-921a-9ab27e4d87aa',
 'messageBoardId': 'finmb_24937',
 'gmtOffSetMilliseconds': -14400000,
 'currentPrice': 190.015,
 'targetHighPrice': 250.0,
 'targetLowPrice': 164.0,
 'targetMeanPrice': 202.26,
 'targetMedianPrice': 200.0,
 'recommendationMean': 2.1,
 'recommendationKey': 'buy',
 'numberOfAnalystOpinions': 39,
 'totalCash': 67150000128,
 'totalCashPerShare': 4.379,
 'ebitda': 129629003776,
 'totalDebt': 104590000128,
 'quickRatio': 0.875,
 'currentRatio': 1.037,
 'totalRevenue': 381623009280,
 'debtToEquity': 140.968,
 'revenuePerShare': 24.537,
 'returnOnAssets': 0.22073999,
 'returnOnEquity': 1.4725,
 'freeCashflow': 84726874112,
 'operatingCashflow': 110563000320,
 'earningsGrowth': 0.007,
 'revenueGrowth': -0.043,
 'grossMargins': 0.45586,
 'ebitdaMargins': 0.33968,
 'operatingMargins': 0.30743,
 'financialCurrency': 'USD',
 'trailingPegRatio': 2.2498}

AttributeError: 'Ticker' object has no attribute 'head'

In [11]:
end_date = pd.Timestamp.now()
start_date = end_date - pd.DateOffset(years=1)

apple_data = appl.history(start = start_date, end = end_date)

apple_data.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-05-16 00:00:00-04:00,171.081447,172.225366,170.892448,171.161026,42110300,0.0,0.0
2023-05-17 00:00:00-04:00,170.802922,172.016463,169.519728,171.777740,57951600,0.0,0.0
2023-05-18 00:00:00-04:00,172.086101,174.314273,171.668322,174.125275,65496700,0.0,0.0
2023-05-19 00:00:00-04:00,175.458194,175.458194,174.015856,174.234695,55772400,0.0,0.0
2023-05-22 00:00:00-04:00,173.060916,173.787070,172.533717,173.279755,43570900,0.0,0.0

In [12]:
random_state = 27
np.random.seed(random_state)


missing_dates = np.random.choice(apple_data.index, size=5, replace=False)
apple_missing = apple_data.copy()
apple_missing.loc[missing_dates, 'Close'] = np.nan

In [13]:
apple_missing.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-05-16 00:00:00-04:00,171.081447,172.225366,170.892448,171.161026,42110300,0.0,0.0
2023-05-17 00:00:00-04:00,170.802922,172.016463,169.519728,171.777740,57951600,0.0,0.0
2023-05-18 00:00:00-04:00,172.086101,174.314273,171.668322,174.125275,65496700,0.0,0.0
2023-05-19 00:00:00-04:00,175.458194,175.458194,174.015856,174.234695,55772400,0.0,0.0
2023-05-22 00:00:00-04:00,173.060916,173.787070,172.533717,173.279755,43570900,0.0,0.0

In [14]:
len(apple_missing)

252

In [15]:
missing_index = apple_missing[apple_missing['Close'].isna()].index
print(missing_index)

DatetimeIndex(['2023-05-31 00:00:00-04:00', '2023-10-02 00:00:00-04:00',
               '2023-12-18 00:00:00-05:00', '2024-01-31 00:00:00-05:00',
               '2024-03-11 00:00:00-04:00'],
              dtype='datetime64[ns, America/New_York]', name='Date', freq=None)